@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
header
{
    background: url(.img/Bitmap.svg);
    width: 100%;
    height: 1015px;
    background-repeat: round;
}

body
{
    display: block;
    margin: 0px;
}

.logo
{
    display: flex;
    justify-content: space-between;
    padding-top: 23px;
    padding-bottom: 130px;
}

.contain-new
{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0px 15%;
}

.text-color-white
{
    color: #FFFFFF;
}

.text1
{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;
}

.text2
{
    font-family: Poppins;
    font-size: 60px;
    font-weight: 700;
    line-height: 74px;
    letter-spacing: 0px;
    text-align: left;
}

.text3
{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
}

.text4
{
    font-family: Poppins;
    font-size: 16px;
    line-height: normal;
    text-decoration-line: underline;
    font-weight: 700;
    letter-spacing: 0px;
    text-align: left;
    color: #FFD723;
}

.container-text
{
    width: 616px;
    height: 412px;
}

.tittle {
    color: #4D533C;
    width: 607px;
    font-family: Poppins;
    font-size: 36px;
}

.subtitle1{
    font-size: 24px;
    font-family: Poppins;
    color: #4D533C;
    width: 200px;
    font-weight: 5000;

}

.subtitle2{
    font-family: Poppins;
    font-size: 14px;
    color: #21384299;
    height: 104px;
}

.sub-link{
    color: #21384299;
    font-family: Poppins;
    font-weight: bold;
    text-decoration: underline;
    opacity: 50%;
}

.comtainer-1{
    width: 255px;
    height: 309px;
    display: flex;
    flex-direction: column;
}

.comtainer-1 a{
    display: flex;
}

.container-text-main{
    display: flex;
    justify-content: space-between;
    gap: 80px;
}

.link-activate{
    color: #FFD723;
}

.popup{
    background-color: #FAFAFA;
    width: 85%;
    height: 362px;
    position: absolute;
    bottom: -991px;
    left: 1px;
    box-shadow:
            inset 0 -3em 3em rgba(0, 0, 0, 0.1),
            0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.TextVS{
    padding: 50px 15%;
    font-family: Poppins;
    font-size: 60px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0px;
    text-align: left;
    color: #4D533C;

}

.line1{
    display: flex;
    justify-content: space-between;
    width: 39%;
}

footer{
    height: 920px;
    width: 100%;
    background-color: #4F553D;
    padding-top: 230px;
}

.hr-block{
    background: #5D6544;
    opacity: 0.3;
}

.column-4{
    display: flex;
}

.h-hr{
    height: 100px;
}

.oval{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: aliceblue;
}

.background-hukki{
    background: #444A34;
}

.background-yellow{
    background: #FFD723;
}

.dic{
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.columns{
    display: flex;
    justify-content: space-between;
    width: 96%;
    margin-top: 40px;
}

 .text-footer-title{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: 0px;
    text-align: left;
}

.text-footer{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: left;
    color: #B6C197;
}

.line1{
    margin-bottom: 40px;
}

.big-text{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0px;
    text-align: left;
}

.plashka{
    margin-top: 50px;
}

.final-text{
    font-family: Poppins, math;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;
    color: #B5C096;
    float: right;
}

.mr-b{
    margin-bottom: 326px;
}

@media screen and (max-width: 980px){
    .contain-new{
        padding: 0 97px;
    }
    header{
        height: 700px;
        background-repeat: no-repeat;
    }
    .container-text{
        width: 100%;
    }
    .text1{
        font-size: 30px;
        line-height: 44px;
    }
    .tittle{
        width: 100%;
        font-size: 32px;
        margin-bottom: 10px;
    }
    .container-text-main{
        flex-wrap: wrap;
    }
    .subtitle1 {
        width: 100%;
        font-size: 40px;
    }

    .subtitle2{
        width: 100%;
        font-size: 12px;
        height: auto;
    }

    .sub-link{
        font-size: 12px;
    }

    .container-1{

    }

    .hr-block{
        display: none;
    }
    .popup{
        bottom: -568px;
    }

    footer{
        height: 600px;
        padding-top: 190px;
    }
}
