@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


header{
    background: url("./img/Bitmap.svg") round;
    width: 100%;
    height: 811px;
}

body{
    margin: 0;
}

.container-logo{
    display: flex;
    justify-content: space-between;
    padding-top: 23px;
    padding-bottom: 130px;
}
    
.container-new{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0px 15%;
}

.textFI1{
    font-family: Poppins;
    font-size: 14px; 
    font-style: normal; 
    font-weight: 400; 
    line-height: normal; 
    margin: 0px 0px 22px 0px;
    color: rgb(255, 255, 255);
}

.textFI2{
    font-family: Poppins;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 74px; 
    margin: 0px 0px 24px 0px;
    color: rgb(255, 255, 255);
}


.textFI3{
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin: 0px 0px 45px 0px;
    color: rgb(255, 255, 255);
}
.textFI4{
    color: #FFD723;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
}

main.container-new{
    padding: 154px;
}

.title-main {
    color: #4D533C;
    width: 607px;
    font-family: Poppins;
    font-size: 36px;
}

.subtitle1color-titte{
    font-size: 24px;
    font-family: Poppins;
    color: #4D533C;
    width: 200px;
    font-weight: 5000;

}

.subtitle2color-titte{
    font-family: Poppins;
    font-size: 14px;
    color: #21384299;
    height: 104px;
}

.sub-link{ 
    color: #21384299;
    font-family: Poppins;
    font-weight: bold;
    text-decoration: underline;
    opacity: 50%;
}

.sub-link1{
    color: #FFD723;
    font-family: Poppins;
    font-weight: bold;
    text-decoration: underline;
}

.ser{
    width: 255px;
    height: 309px;
    display: flex;
    flex-direction: column;
}
.ser a{
    display: flex;
}

.comtainer-1{
    display: flex;
    justify-content: space-between;
    gap: 80px;
}

.vsplivashka{
    background-color: #FAFAFA;
    ;
    width: 1275px;
    height: 362px;
    box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.TextVS{
    font-family: Poppins;
    font-size: 60px;
    color: #4D533C;
    width: 822px;
    height: 221px;
    display: flex;
    
}
.line1{
    display: flex;
    width: 35%;
    justify-content:space-between;
}
footer{
    margin-top: 350px;
    height: 920px;
    width: 100%;
    background: rgba(79, 85, 61, 1);
}
.hr-block{
    background: #5D6544;
    opacity: 0.3;
}
.dic{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: aliceblue;
}
.column4{
    display: flex;

}
.h-hr{
    height: 210px;
}
.footer-text{
    font-family: Poppins;
    font-size: 16px;
}
.green{
    font-weight: 400;
    color: #B6C197;
}
.white{
    font-weight: 700;
    color: #ffff;
}
.mail{
    font-family: Poppins;
    font-size: 24px;
}
.head{
    text-transform: uppercase;
}
.column{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.popup{
    width: 80%;
    height: 362px;
    background: #bec1be;
}
@media screen and (max-width:980px){
    .container-new{
        padding: 0px 20px;
    }
    .header{
        height: 640px;
        background-repeat: no-repeat;
    }

}